	.card {
	  height: 100%;
	  position: absolute;
	  transform-style: preserve-3d;
	  transition: all 1s ease-in-out;
	  width: 100%;
	}
	.card:hover {
	  transform: rotateX(180deg);
	}
	.card .side {
	  backface-visibility: hidden;
	  height: 100%;
	  position: absolute;
	  width: 100%;
	}
	.card .back {
	  transform: rotateX(180deg);
	}
	 .card-container {
	  height: 150px;
	  perspective: 600;
	  position: relative;
	  width: 560px;
	}