.card {
	height: 100%;
	position: absolute;
	transform-style: preserve-3d;
	transition: all 1s ease-in-out;
	width: 100%;
}

.card:hover {
	transform: rotateX(180deg);
}

.card .side {
	backface-visibility: hidden;
	height: 100%;
	position: absolute;
	width: 100%;
}

.card .back {
	transform: rotateX(180deg);
}

.card-container {
	height: 150px;
	perspective: 600;
	position: relative;
	width: 560px;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.my-mtl-contact-button {
	bottom: 5px;
	left: 4px;
	position: fixed;
}

.my-mtl-contacts {
    width: 90%;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

/*Sources: https://codepen.io/brandonhimpfen/pen/EjpMEZ?editors=0100 and https://www.uplabs.com/posts/material-design-social-buttons-list*/

.responsive {
    width: auto\9;
    max-width: 100%;
    height: auto;
}