
/*******************************************************/
.mdl-card-fit {
	max-width: 50vmin;
	max-height: 25vmin;
}
/*******************************************************/

.project1-mdl-card-wide.mdl-card {
  width: 512px;
}
.project1-mdl-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('/img/adl.png') center / cover;
}
.project1-mdl-card-wide > .mdl-card__menu {
  color: #fff;
}
/*******************************************************/
.project2-mdl-card-wide.mdl-card {
  width: 512px;
}
.project2-mdl-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('/img/klein-bottle.png') center / cover;
}
.project2-mdl-card-wide > .mdl-card__title::after {
  content: "";
  background: url('/img/klein-bottle.png');
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

/*******************************************************/
.project3-mdl-card-wide.mdl-card {
  width: 512px;
}
.project3-mdl-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('/img/svm.jpg') center / cover;
}
.project3-mdl-card-wide > .mdl-card__menu {
  color: #fff;
}
/*******************************************************/
.project4-mdl-card-wide.mdl-card {
  width: 512px;
}
.project4-mdl-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('/img/tensorflow.png') center / cover;
}
.project4-mdl-card-wide > .mdl-card__menu {
  color: #fff;
}
/*******************************************************/
.project5-mdl-card-wide.mdl-card {
  width: 512px;
}
.project5-mdl-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('/img/nervbot.png') center / cover;
}
/*******************************************************/
.project6-mdl-card-wide.mdl-card {
  width: 512px;
}
.project6-mdl-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('/img/sytether.png') center / cover;
}
/*******************************************************/
.resource-link { }